@CHARSET "UTF-8";

.content_box{
	width:100%;
	min-width:300px;
	height:500px;
	background:skyblue;
	margin-top:50px;
}
#time-line{
	width:20%;
	min-width:50px;
	background:orange;
	float:left;
}
#time-line div{
	text-align:center;
	height:50px;
	line-height:50px;
}
#time-line div p{
	padding:0;
	margin:0;
}
#info-line{
	width:80%;
	min-width:200px;
	float:left;
	background:green;
}
#info-line > div{
	text-align:center;
	height:50px;
	border-bottom:1px solid black;
}
#info-line > div:FIRST-CHILD{
	height:25px;
}
#info-line > div:FIRST-CHILD > div{
	background:none;
}
#info-line > div:LAST-CHILD{
	height:25px;
}
#info-line > div:LAST-CHILD > div{
	background:none;
}
.info-color{
	width:80%;
	height:100%;
	margin:0 auto;
	background:lime;
}
#calendar-zone{
	display:none;
}
#s_calendar_zone{
	display:inline;
	width:100%;
}