@CHARSET "UTF-8";

@media(min-width:768px){
	#s_calendar_zone{
		display:none;
	}
	#time-line{
		width:10%;
		min-width:50px;
		background:orange;
		float:left;
	}
	#info-line{
		width:60%;
		min-width:200px;
		float:left;
		background:green;
	}
}