@CHARSET "UTF-8";

#s_calendar_zone{
	display:none;
}
#time-line{
	width:10%;
	min-width:50px;
	background:orange;
	float:left;
}
#info-line{
	width:60%;
	min-width:200px;
	float:left;
	background:green;
}
#s_calendar_zone{
	display:none;
}

/*******************/
/**MAIN CSS-320PX**/
/*******************/
body{
	background:url("../images/back_day.jpg") no-repeat center center fixed;
	background-size:cover;
	--webkit-background-size:cover;
}

/* BASE AREA */
#main_container{
	width:300px;
	margin:0 auto;
}
#menu_container{
	width:300px;
	height:50px;
	margin:0 auto;
}

/* MENU */
#menu_container img{
	width:30px;
	margin-top:10px;
	margin-right:10px;
	float:right;
}

/* WEATHER */
#main_container #weather{
	width:100%;
	padding:100px 0px;
	position:relative;
}
#main_container #weather #day_info{
	font-size:20px;
	font-weight:bold;
	color:white;
	margin:20px 0px;
}
#main_container #weather img{
	width:50px;
	display:inline-block;
	float:left;
}
#main_container #weather #town_sido{
	width:50%;
	font-size:16px;
	font-weight:bold;
	color:white;
	margin-left:60px;
	margin-bottom:0px;
}
#main_container #weather #town_gungu{
	width:50%;
	font-size:16px;
	font-weight:bold;
	color:white;
	margin-left:60px;
	margin-bottom:0px;
}

/* SET_AREA(MODAL) */
#set_area #modal_body{
	position:relative;
}
#set_area #modal_body #loadingbar{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.6);
}
#set_area #modal_body #loadingbar > div{
	width:90%;
	height:100%;
	margin:0 auto;
	position:relative;
}
#set_area #modal_body #loadingbar > div > div{
	position:absolute;
	top:50px;
	left:0;
	width:100%;
}
#set_area #search_area1{
	width:85%;
	margin-bottom:10px;
}
#set_area #search_area2{
	width:85%;
	margin-bottom:10px;
}
#set_area #search_area3{
	width:85%;
}

/* LOGIN */
#main_container #login{
	width:100%;
	border-radius:10px;
	padding:5%;
	margin:1% auto;
	background:white;
	display:block;
}
#main_container #login p{
	font-size:16px;
	font-weight:bold;
	text-align:center;
}
#kakao-login-btn{
	display:block;
	text-align:center;
}

/* NOTEPAD */
#main_container #notepad{
	width:100%;
	padding:2%;
	margin:1% auto;
	background:white;
	border-radius:10px;
	display:block;
}
#main_container #notepad ul{
	list-style:none;
	width:100%;
}
#main_container #notepad ul li{
	padding:1%;
	border-bottom:1px solid gray;
}
#main_container #notepad ul li:first-child{
	border-top:1px solid gray;
}
#main_container #notepad #add_memo{
	padding:1%;
	display:block;
}
#main_container #notepad_nouser{
	width:100%;
	border-radius:10px;
	padding:2%;
	margin:1% auto;
	background:white;
	display:block;
}
#main_container #notepad_nouser p{
	text-align:center;
	font-size:14px;
	font-weight:bold;
}
#main_container #notepad_nouser img{
	display:block;
	margin:15px auto;
}

/*************/
/**TODAY CSS**/
/*************/
	
#today_container{
	width:760px;
	/* min-width:500px; */
	height:500px;
	/* margin-top:50px; */
	margin : 50px auto;
}
	
/* CALENDAR_BOX */
#today_container #calendar_box{
	
	width:35%;
	border-radius:5px;
	padding:1%;
	margin:1% 1%;
	background:white;
	display: inline-block; 
	height:240px;
	float:right;
	position:relative;
}
#today_container #calendar_box #prevkey{
	width:10%;
	height:98%;
	position:absolute;
	top:0;
	left:0;
}
#today_container #calendar_box #prevkey img{
	width:100%;
}
#today_container #calendar_box #nextkey{
	width:10%;
	height:100%;
	position:absolute;
	top:0;
	right:0;
}
#today_container #calendar_box #nextkey img{
	width:100%;
}
#today_container #calendar_box .calendar_table{
	width:90%;
	margin:2% auto;
}
#today_container #calendar_box .calendar_table th{
	text-align:center;
}
#today_container #calendar_box .calendar_table td{
	text-align:center;
}
#today_container #calendar_box .calendar_table .cal_year{
	font-size:20px;
}
#today_container #calendar_box .calendar_table .cal_month{
	font-size:24px;
}
#cal_today{
	background:gray;
}
.cal_select{
	font-weight:bold;
	color:red;
}

/* TIMETABLE_BOX */
#today_container #timetable_box{
	width:98%;
	overflow:auto;
	max-height:800px;
	border-radius:5px;
	padding:2%;
	margin:1% 1%;
	background:white;
	
	/* float:left; */
}
#today_container #timetable_box #today_time{
	width:100%;
	text-align:center;
	display:inline-block;
	vertical-align:top;
	position:relative;
}
#today_container #timetable_box #today_time > div{
	position:relative;
	overflow:hidden;
}
#today_container #timetable_box #today_time div p{
	width:50px;
	font-size:14px;
	position:absolute;
	left:0;
	text-align:left;
	height:41px;
	line-height:41px;
	background:white;
	padding-left:1%;
}
#today_container #timetable_box #today_time div hr{
	width:100%;
	text-align:center;
	border-color:rgba(0,0,0,0.5);
}
#today_container #timetable_box #today_time div .hr_over{
	border-color:rgba(241,95,95,0.5);
}
#today_container #timetable_box #today_time div .hr_select{
	border-color:rgba(0,51,153,0.5);
}
#today_container #timetable_box #today_time .ing_plan{
	position:absolute;
	background:black;
	z-index:99;
}


/* INSERT_BOX */
#today_container #insert_box{
	/* width:98%;
	min-width:320px;
	border-radius:5px;
	padding:1%;
	margin:1%;
	background:white;
	height: 240px; */
	width:60%;
	border-radius:5px;
	padding:1%;
	margin:1%;
	background:white;
	display:inline-block;
	float:left;
	height: 240px !important;

}

#today_container #insert_box form{
	/* width:500px; */
}

#today_container #insert_box .guide{
	width:20%;
}
 #today_container #insert_box .title{
	width:167px;
}

/********************/
/**DIARY CSS-320PX**/
/********************/

/* BASE AREA */
#diray_container{
	width:300px;
	min-width:300px;
	height:500px;
	margin:50px auto;
}
#diray_container .row{
	width:100%;
	margin:0;
	padding:0;
}
#diray_container .col:first-child{
	width:100%;
}
#diray_container .col:last-child{
	width:100%
}
	
/* CALENDAR_BOX */
#diray_container #calendar_box{
	width:100%;
	height:300px;
	margin:0 auto;
	border-radius:5px;
	background:white;
	display:inline;
	float:left;
	position:relative;
}
#diray_container #calendar_box #prevkey{
	width:10%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}
#diray_container #calendar_box #prevkey img{
	width:100%;
}
#diray_container #calendar_box #nextkey{
	width:10%;
	height:100%;
	position:absolute;
	top:0;
	right:0;
}
#diray_container #calendar_box #nextkey img{
	width:100%;
}
#diray_container #calendar_box .calendar_table{
	width:91%;
	margin:10px auto;
}
#diray_container #calendar_box .calendar_table th{
	width:13%;
	padding:5px 0px 0px 0px;
	text-align:center;
}
#diray_container #calendar_box .calendar_table td{
	text-align:center;
	padding:5px 0px;
}
#diray_container #calendar_box .calendar_table .cal_year{
	font-size:20px;
}
#diray_container #calendar_box .calendar_table .cal_month{
	font-size:24px;
}
#cal_today{
	background:gray;
}
.cal_select{
	font-weight:bold;
	color:red;
}

/* DIARY_BOX*/
#diray_container #diary_box{
	width:100%;
	min-height:300px;
	margin:0 auto;
	padding:10px;
	background:white;
	border-radius:5px;
}
#diray_container #diary_box #day{
	width:25%;
	height:150px;
	display:inline-block;
	vertical-align:top;
}
#diray_container #diary_box #day p:first-child{
	width:100%;
	height:50%;
	margin:0;
	font-size:56px;
	font-weight:bold;
	text-align:center;
}
#diray_container #diary_box #day p:last-child{
	width:100%;
	margin:0;
	font-size:18px;
	font-weight:bold;
	text-align:center;
}
#diray_container #diary_box #contents{
	width:70%;
	display:inline-block;
	padding-top:40px;
	padding-bottom:40px;
}
#diray_container #diary_box #contents_empty{
	width:74%;
	display:inline-block;
	padding-top:70px;
	padding-bottom:40px;
	text-align:center;
	font-size:12px;
}
#diray_container #diary_box #contents #mark{
	width:100%;
}
#diray_container #diary_box #contents #mark img{
	width:20px;
}
#diray_container #diary_box #contents #title{
	width:100%;
	margin:16px 0;
}
#diray_container #diary_box #contents #title p{
	font-size:24px;
}
#diray_container #diary_box #contents #add_title{
	width:95%;
	font-size:24px;
}
#diray_container #diary_box #contents #content{
	width:100%;
}
#diray_container #diary_box #contents #content p{
	font-size:14px;
}
#diray_container #diary_box #contents #btn{
	width:95%;
	text-align:right;
}

/***************************/
/**DIARY INSERT CSS-1200PX**/
/***************************/

/* BASE AREA */
#diray__insert_container{
	width:512px;
	min-width:300px;
	height:500px;
	margin:50px auto;
}
#diray__insert_container .row{
	width:100%;
	margin:0;
	padding:0;
}
#diray__insert_container .col:first-child{
	width:100%;
}
#diray__insert_container .col:last-child{
	width:100%;
}
	
/* CALENDAR_BOX */
#diray__insert_container #calendar_box{
	width:100%;
	height:300px;
	margin:0 auto;
	border-radius:5px;
	background:white;
	display:inline;
	float:left;
	position:relative;
}
#diray__insert_container #calendar_box #prevkey{
	width:10%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}
#diray__insert_container #calendar_box #prevkey img{
	width:100%;
}
#diray__insert_container #calendar_box #nextkey{
	width:10%;
	height:100%;
	position:absolute;
	top:0;
	right:0;
}
#diray__insert_container #calendar_box #nextkey img{
	width:100%;
}
#diray__insert_container #calendar_box .calendar_table{
	width:91%;
	margin:10px auto;
}
#diray__insert_container #calendar_box .calendar_table th{
	width:13%;
	padding:5px 0px 0px 0px;
	text-align:center;
}
#diray__insert_container #calendar_box .calendar_table td{
	text-align:center;
	padding:5px 0px;
}
#diray__insert_container #calendar_box .calendar_table .cal_year{
	font-size:20px;
}
#diray__insert_container #calendar_box .calendar_table .cal_month{
	font-size:24px;
}
#diray__insert_container #cal_today{
	background:gray;
}
#diray__insert_container .cal_select{
	font-weight:bold;
	color:red;
}

/* DIARY_BOX*/
#diray__insert_container #diary_box{
	width:100%;
	min-height:300px;
	margin:0 auto;
	padding:10px;
	background:white;
	border-radius:5px;
}
#diray__insert_container #diary_box #day{
	width:25%;
	height:150px;
	display:inline-block;
	vertical-align:top;
}
#diray__insert_container #diary_box #day p:first-child{
	width:100%;
	height:100%;
	margin:0;
	font-size:112px;
	font-weight:bold;
	text-align:center;
}
#diray__insert_container #diary_box #day p:last-child{
	width:100%;
	margin:0;
	font-size:36px;
	font-weight:bold;
	text-align:center;
}
#diray__insert_container #diary_box #contents{
	width:74%;
	display:inline-block;
	padding-top:40px;
	padding-bottom:40px;
}
#diray__insert_container #diary_box #contents_empty{
	width:74%;
	display:inline-block;
	padding-top:70px;
	padding-bottom:40px;
	text-align:center;
	font-size:20px;
}
#diray__insert_container #diary_box #contents #mark{
	width:100%;
}
#diray__insert_container #diary_box #contents #mark img{
	width:30px;
}
#diray__insert_container #diary_box #contents #title{
	width:100%;
	margin:20px 0;
}
#diray__insert_container #diary_box #contents #title p{
	font-size:24px;
}
#diray__insert_container #diary_box #contents #add_title{
	width:95%;
	font-size:24px;
}
#diray__insert_container #diary_box #contents #content{
	width:100%;
}
#diray__insert_container #diary_box #contents #content p{
	font-size:18px;
}
#diray__insert_container #diary_box #contents #insert_content{
	width:95%;
	height:700px;
}
#diray__insert_container #diary_box #contents #btn{
	width:95%;
	text-align:right;
}

/* NICK UPDATE */
#nick_container #update{
	width:80%;
	border-radius:10px;
	padding:2%;
	margin:1% auto;
	background:white;
	display:block;
}
#main_container #login p{
	font-size:20px;
	font-weight:bold;
	text-align:center;
}
