@CHARSET "UTF-8";

@media(min-width:960px){
	.content_box{
		width:100%;
		height:500px;
		background:gray;
		margin-top:50px;
	}
	#calendar-zone{
		display:inline;
		float:left;
		width:30%;
	}
	#s_calendar_zone{
		display:none;
	}
}