<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgit.mapper.RepeatMapper">
	<insert id="insert">
		insert into d_repeat (user_id, rep_type, rep_title,rep_day,rep_start,rep_end)
		values (#{user_id},#{rep_type},#{rep_title},#{rep_day},#{rep_start},#{rep_end})
	</insert>
	
	<update id="update">
		update d_repeat set 
		rep_type=#{rep_type},rep_title=#{rep_title},
		rep_day=#{rep_day},rep_start=#{rep_start},rep_end=#{rep_end}
		where rep_no=#{rep_no}
	</update>
	
	<delete id="delete">
		delete from d_repeat where user_id=#{user_id}
		<if test="rep_no != 0">
			and rep_no=#{rep_no}
		</if>
	</delete>
	
	<select id="select" resultType="RepeatVO">
		select * from d_repeat where user_id=#{user_id}
		<if test="rep_no != 0">
			and rep_no=#{rep_no}
		</if>
		<if test="rep_type !=null">
			and rep_type =#{rep_type}
		</if>
		<if test="rep_title !=null">
			and rep_title like CONCAT('%',#{rep_title},'%')
		</if>
		<if test="rep_day !=null">
			and rep_day =#{rep_day}
		</if>
		<if test="rep_start !=null and rep_end !=null">
			and ((date(rep_start) <![CDATA[<=]]> date(#{rep_start}) and date(rep_end) >= date(#{rep_start}))
			or (date(rep_start) <![CDATA[<=]]> date(#{rep_end}) and date(rep_end) >= date(#{rep_end}))
			or (date(rep_start) >= date(#{rep_start}) and date(rep_end) <![CDATA[<=]]> date(#{rep_end})))
			
			and ((TIME_TO_SEC(rep_start) <![CDATA[<=]]> TIME_TO_SEC(#{rep_start}) and TIME_TO_SEC(rep_end) >= TIME_TO_SEC(#{rep_start}))
			or (TIME_TO_SEC(rep_start) <![CDATA[<=]]> TIME_TO_SEC(#{rep_end}) and TIME_TO_SEC(rep_end) >= TIME_TO_SEC(#{rep_end}))
			or (TIME_TO_SEC(rep_start) >= TIME_TO_SEC(#{rep_start}) and TIME_TO_SEC(rep_end) <![CDATA[<=]]> TIME_TO_SEC(#{rep_end})))
		</if>
		<!-- <if test="rep_start !=null">
			and date(rep_start) >= date(#{rep_start})
		</if>
		<if test="rep_end !=null">
			and date(rep_end) <![CDATA[<=]]> date(#{rep_end})
		</if> -->
		order by rep_start
	</select>
	
	<select id="selectNo" resultType="RepeatVO">
		select * from d_repeat where rep_no=#{rep_no}
	</select>
	
</mapper>