<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgit.mapper.WebnoteMapper">
	<select id="selectById" resultType="WebnoteVO">
		select * from d_note where user_id=#{user_id} order by note_date desc
	</select>
	<select id="selectByNo" resultType="WebnoteVO">
		select * from d_note where note_no=#{note_no}
	</select>
	<update id="updateByNo">
		update d_note set note_content=#{note_content} where note_no=#{note_no}
	</update>
	<delete id="deleteByNo">
		delete from d_note where note_no=#{note_no}
	</delete>
	<insert id="insertWebnote">
		insert into d_note (note_no, user_id, note_date, note_content) values (null, #{user_id}, #{note_date}, #{note_content})
	</insert>
</mapper>